@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="pezza-form">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center">
                    <hr />
                    <h2 class="mb-4">Our Menu</h2>
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="checkbox-group required">
                <div class="row no-gutters d-flex">
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p5.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h4>Veggie Pizza</h4>
                                <h4 class="price"><span>89.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="veggie" id="pizza1" />
                                    <label class="form-check-label" for="pizza1"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p6.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h4>Pepperoni Pizza</h4>
                                <h4 class="price"><span>99.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="pepperoni" id="pizza2" />
                                    <label class="form-check-label" for="pizza2"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p7.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h3>Meat Pizza</h3>
                                <h4 class="price"><span>99.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="meat" id="pizza3" />
                                    <label class="form-check-label" for="pizza3"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row no-gutters d-flex">
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p8.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h3>Margherita Pizza</h3>
                                <h4 class="price"><span>99.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="margherita" id="pizza4" />
                                    <label class="form-check-label" for="pizza4"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p9.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h3>BBQ Chicken Pizza</h3>
                                <h4 class="price"><span>99.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="bbq-chicken" id="pizza5" />
                                    <label class="form-check-label" for="pizza5"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="services-wrap d-flex">
                            <img class="col-4" src="images/p10.jpeg" class="img-fluid" />
                            <div class="text p-4">
                                <h3>Hawaiian Pizza</h3>
                                <h4 class="price"><span>89.90</span></h4>
                                <div class="form-check">
                                    <input name="pizza-selection" class="form-check-input" type="checkbox" value="hawaiian" id="pizza6" />
                                    <label class="form-check-label" for="pizza6"> Add to my order </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </section>
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center">
                <hr />
                <h2 class="mb-4">Order</h2>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <div class="alert alert-success text-center" role="alert">An order for your pizza has been placed, <br />and it will arrive piping hot!</div>
            <div class="alert alert-danger text-center" role="alert">Please choose a pizza from our menu.</div>
            <div class="form-floating mb-3">
                <input name="name" required type="text" class="form-control" id="floatingName" placeholder="name" />
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" required type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" />
                <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input name="cellphone" required type="tel" class="form-control" id="floatingCellphone" placeholder="0721230000" />
                <label for="floatingCellphone">Cellphone</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="address" required class="form-control" id="floatingAddress"></textarea>
                <label for="floatingAddress">Address</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Order</button>
        </form>
    </div>
    <br />
    <br />
</form>