@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="pezza-form">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-8 heading-section text-center">
                    <hr />
                    <h2 class="mb-4">Orders</h2>
                    <hr />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="checkbox-group required">
                <div class="row no-gutters d-flex">
                    @if(Model.Orders.Count==0)
                    {
                        <h3 align="center">No Orders...</h3>
                    }

                    @foreach (var item in Model.Orders)
                    {
                        @Html.Partial("_Pizza", item)
                    }
                </div>
                <br />
            </div>
        </div>
        <br />
        <br />
    </section>
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-4 heading-section text-center">
                <hr />
                <h2 class="mb-4">Customers</h2>
                <hr />
                <p class="large-text">@Model.NoCustomers</p>
                <hr />
            </div>
            <div class="col-md-4 heading-section text-center">
                <hr />
                <h2 class="mb-4">Pizzas</h2>
                <hr />
                <p class="large-text">@Model.NoCustomers</p>
                <hr />
            </div>
        </div>
    </div>
    <br />
    <br />
</form>