<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pezza - Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/style.css" asp-append-version="true" />
</head>
<body data-bs-theme="dark" class="text-light" style="background-image: url(images/space-background-dark.jpg)">
    <header>
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="./images/pezza-logo.png" alt="" height="200" />
            <h3 class="fw-bold">Pezza has built a strong reputation as a small, family-run restaurant.</h3>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    <em>Established in 1940</em>
                </p>
                <img class="col-12 col-lg-6 img-fluid" src="images/p17.png" alt="pizza" />
            </div>
        </div>
    </header>
    @RenderBody()

    <footer align="center" class="border-top footer text-muted">
        &copy; @DateTime.Now.Year - Pezza
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/alert.js" asp-append-version="true"></script>
    <script src="js/index.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>