@model Portal.Models.PagingModel

@{
    ViewBag.Title = "Stock";
ViewBag.ActiveMenu = "Stock";
}

<div>
    <a class="btn btn-primary" href="/Stock/Create">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
    </a>
</div>
<br />

<div class="row">
    <div class="col-6">
        <div id="loading">Loading...</div>
    </div>
    <div class="col-6 text-right">
        <span id="CountData">0</span> Stock
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="sortable" data-field="Id" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Id
            </th>
            <th class="sortable text-right" data-field="Quantity" data-orderby="" width="150px">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Quantity
            </th>
            <th class="sortable" data-field="Name" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Name
            </th>
            <th class="sortable" data-field="Metric" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Metric
            </th>
            <th class="sortable" data-field="ExpiryDate" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Expiry Date
            </th>
            <th>Comment</th>
            <th width="100px" class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
    <tfoot id="paginationBar">
        <tr>
            <td colspan="7">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="first" type="button" class="btn btn-secondary">First</button>
                    <button id="prev" type="button" class="btn btn-secondary">Prev</button>
                    <button type="button" class="btn btn-secondary"><span id="pagingData"></span></button>
                    <button id="next" type="button" class="btn btn-secondary">Next</button>
                    <button id="last" type="button" class="btn btn-secondary">Last</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

@await Html.PartialAsync("_Modals")

<input type="hidden" id="Count" />
<input type="hidden" id="OrderBy" value="Name asc" />
@Html.HiddenFor(model => model.Limit)
@Html.HiddenFor(model => model.Page)

@section Scripts
{
    <script>
        "use strict";
        function remove(id, name) {
            $('.remove-entity').html('Stock');
            $('.remove-name').html("Are you sure you want to remove " + name);
            $('#removeId').val(id);
            $('#confirmationModal').modal('show');
        }

        function confirmRemove() {
            $(".alert").hide();

            $('#confirmationModal').modal('hide');
            var data = { Id: parseInt($('#removeId').val()) };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Stock")/' + $('#removeId').val(),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        $.alertInfo('Stock has been removed', function () {
                            setTimeout(function () { window.location.reload() }, 1500);
                        });
                    }
                    else {
                        $.alertWarning('Error removing pizza');
                    }
                },
                error: function (error) {
                    console.log(error);
                    $.alertWarning('Error removing pizza');
                }
            });
        }

        $(document).ready(function () {
            loadData();
            $('*[data-field="Name"]').find('.up').show();

            $(".sortable").on("click", function () {
                var field = $(this).data("field");

                $('.up').hide();
                $('.down').hide();
                var direction = $(this).data("orderby");

                if (direction == '') {
                    direction = 'asc'
                }

                if (direction == 'asc') {
                    direction = 'desc';
                    $('*[data-field="' + field + '"]').find('.down').show();
                }
                else {
                    direction = 'asc';
                    $('*[data-field="' + field + '"]').find('.up').show();
                }
                $(this).data("orderby", direction);
                var orderby = field + " " + direction;
                $("#OrderBy").val(orderby);
                loadData();
            });

            $("#first").on("click", function () {
                var page = 1;
                $('#Page').val(page);
                loadData();
            });

            $("#prev").on("click", function () {
                var page = parseInt($('#Page').val());
                if (page > 1) {
                    page -= 1;
                    $('#Page').val(page);
                    loadData();
                }
            });

            $("#next").on("click", function () {
                console.log('next');
                var page = parseInt($('#Page').val());
                if (page < parseInt($("#Count").val())) {
                    page += 1;
                    $('#Page').val(page);
                    loadData();
                }
            });

            $("#last").on("click", function () {
                var count = parseInt($("#Count").val());
                var limit = parseInt($("#Limit").val());
                var page = Math.round(count / limit);
                $('#Page').val(page);
                loadData();
            });

            function updatePagingData() {
                var count = parseInt($("#Count").val());
                var limit = parseInt($("#Limit").val());
                var page = parseInt($('#Page').val());
                var lastPage = Math.round(count / limit);
                if (lastPage == 0) {
                    $("#paginationBar").hide();
                }
                $("#pagingData").html((lastPage > 0) ? page + "/" + lastPage : page);
                $("#CountData").html(count);
            }

            function loadData() {
                $("#loading").show();
                var orderBy = $("#OrderBy").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("List", "Stock")?limit=' + parseInt($('#Limit').val()) + '&page=' + parseInt($('#Page').val()) + "&orderBy=" + orderBy,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            console.log(result);
                            $("#Count").val(result.count);

                            var tableBody = '';
                            if (!result.data) {
                                $("#loading").hide();
                                $("#tbody").html('<tr><td colspan="7"> No Stock Data</td></tr>');
                                $("#paginationBar").hide();
                            }
                            else if (result.data.length == 0) {
                                $("#loading").hide();
                                $("#tbody").html('<tr><td colspan="7"> No Stock Data</td></tr>');
                                $("#paginationBar").hide();
                            }
                            else {
                                for (var i = 0; i < result.data.length; i++) {
                                    var pizza = result.data[i];
                                    tableBody += '<tr>';
                                    tableBody += '<td>' + pizza.id + '</td>';
                                    tableBody += '<td align="right">' + pizza.quantity + '</td>';
                                    tableBody += '<td>' + pizza.name + '</td>';
                                    tableBody += '<td>';
                                    tableBody += pizza.unitOfMeasure + ' ';
                                    tableBody += pizza.valueOfMeasure;
                                    tableBody += '</td>';
                                    tableBody += '<td>' + pizza.comment + '</td>';
                                    tableBody += '<td>' + new Date(pizza.expiryDate).toLocaleDateString() + '</td>';
                                    tableBody += `<td align="right">
                                    <a rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon edit" href="/Stock/Edit/` + pizza.id + `">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                     </a>
                                    <button onclick="remove(` + pizza.id + `, '` + pizza.name + `')" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon remove">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </td>`
                                    tableBody += '</tr>';
                                }

                                $("#loading").hide();
                                $("#tbody").html(tableBody);
                                updatePagingData();
                            }
                        }
                        else {
                            $.alertWarning('Error loading Stock');
                            $("#loading").hide();
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        $.alertWarning('Error loading Stock');
                        $("#loading").hide();
                    }
                });
            }
        });
    </script>
}