@model Portal.Models.PagingModel

@{
    ViewBag.Title = "Customer";
ViewBag.ActiveMenu = "Customer";
}

<div class="row">
    <div class="col-4">
        <a class="btn btn-primary" href="/Customer/Create">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add
        </a>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" id="Name" />
            <div class="input-group-append">
                <button id="FilterButton" class="btn filter-button btn-outline-secondary" type="button">Filter</button>
            </div>
        </div>
    </div>
    <div class="col-4 text-right">
        <span id="CountData">0</span> Customers
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <span id="loading">Loading...</span>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th class="sortable" data-field="Id" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Id
            </th>
            <th class="sortable" data-field="Name" data-orderby="asc">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Name
            </th>
            <th class="sortable" data-field="Phone" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Phone
            </th>
            <th class="sortable" data-field="Email" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Email
            </th>
            <th>Contact Person</th>
            <th>Address</th>
            <th class="sortable" data-field="DateCreated" data-orderby="">
                <i class="down fa fa-long-arrow-up" aria-hidden="true"></i>
                <i class="up fa fa-long-arrow-down" aria-hidden="true"></i>
                Date Created
            </th>
            <th width="100px" class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
    <tfoot id="paginationBar">
        <tr>
            <td colspan="8">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="first" type="button" class="btn btn-secondary">First</button>
                    <button id="prev" type="button" class="btn btn-secondary">Prev</button>
                    <button type="button" class="btn btn-secondary"><span id="pagingData"></span></button>
                    <button id="next" type="button" class="btn btn-secondary">Next</button>
                    <button id="last" type="button" class="btn btn-secondary">Last</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

@await Html.PartialAsync("_Modals")

<input type="hidden" id="Count" />
<input type="hidden" id="OrderBy" value="Name asc" />
@Html.HiddenFor(model => model.Limit)
@Html.HiddenFor(model => model.Page)

@section Scripts
{
    <script>
        "use strict";
        function remove(id, name) {
            $('.remove-entity').html('Customer');
            $('.remove-name').html("Are you sure you want to remove " + name);
            $('#removeId').val(id);
            $('#confirmationModal').modal('show');
        }

        function confirmRemove() {
            $(".alert").hide();

            $('#confirmationModal').modal('hide');
            var data = { Id: parseInt($('#removeId').val()) };
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Customer")/' + $('#removeId').val(),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == true) {
                        $.alertInfo('Customer has been removed', function () {
                            setTimeout(function () { window.location.reload() }, 1500);
                        });
                    }
                    else {
                        $.alertWarning('Error removing Customer');
                    }
                },
                error: function (error) {
                    console.log(error);
                    $.alertWarning('Error removing Customer');
                }
            });
        }

        $(document).ready(function () {
            loadData();
            $('*[data-field="Name"]').find('.up').show();

            $("#FilterButton").on("click", function () {
                loadData();
            });

            $(".sortable").on("click", function () {
                var field = $(this).data("field");

                $('.up').hide();
                $('.down').hide();
                var direction = $(this).data("orderby");

                if (direction == '') {
                    direction = 'asc'
                }

                if (direction == 'asc') {
                    direction = 'desc';
                    $('*[data-field="' + field + '"]').find('.down').show();
                }
                else {
                    direction = 'asc';
                    $('*[data-field="' + field + '"]').find('.up').show();
                }
                $(this).data("orderby", direction);
                var orderby = field + " " + direction;
                $("#OrderBy").val(orderby);
                loadData();
            });

            $("#first").on("click", function () {
                var page = 1;
                $('#Page').val(page);
                loadData();
            });

            $("#prev").on("click", function () {
                var page = parseInt($('#Page').val());
                if (page > 1) {
                    page -= 1;
                    $('#Page').val(page);
                    loadData();
                }
            });

            $("#next").on("click", function () {
                console.log('next');
                var page = parseInt($('#Page').val());
                if (page < parseInt($("#Count").val())) {
                    page += 1;
                    $('#Page').val(page);
                    loadData();
                }
            });

            $("#last").on("click", function () {
                var count = parseInt($("#Count").val());
                var limit = parseInt($("#Limit").val());
                var page = Math.round(count / limit);
                $('#Page').val(page);
                loadData();
            });

            function updatePagingData() {
                var count = parseInt($("#Count").val());
                var limit = parseInt($("#Limit").val());
                var page = parseInt($('#Page').val());
                var lastPage = Math.round(count / limit);
                if (lastPage == 0 || count <= limit) {
                    $("#paginationBar").hide();
                }
                $("#pagingData").html((lastPage > 0) ? page + "/" + lastPage : page);
                $("#CountData").html(count);
            }

            function loadData() {
                $("#loading").show();
                $("#paginationBar").show();
                var orderBy = $("#OrderBy").val();

                var dto = new Object;
                dto.Name = $("#Name").val();

                var searchModel = new Object();
                searchModel.SearchData = dto;
                searchModel.Limit = parseInt($("#Limit").val());
                searchModel.Page = parseInt($('#Page').val());
                searchModel.OrderBy = orderBy;

                $.ajax({
                    type: "POST",
                    data: JSON.stringify(searchModel),
                    url: '@Url.Action("List", "Customer")?limit=' + parseInt($('#Limit').val()) + '&page=' + parseInt($('#Page').val()) + "&orderBy=" + orderBy,
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result) {
                            $("#Count").val(result.count);

                            var tableBody = '';
                            if (!result.data) {
                                $("#loading").hide();
                                $("#tbody").html('<tr><td colspan="8"> No Customer Data</td></tr>');
                                $("#paginationBar").hide();
                            }
                            else if (result.data.length == 0) {
                                $("#loading").hide();
                                $("#tbody").html('<tr><td colspan="8"> No Customer Data</td></tr>');
                                $("#paginationBar").hide();
                            }
                            else {
                                for (var i = 0; i < result.data.length; i++) {
                                    var customer = result.data[i];
                                    tableBody += '<tr>';
                                    tableBody += '<td>' + customer.id + '</td>';
                                    tableBody += '<td>' + customer.name + '</td>';
                                    tableBody += '<td><a class="btn btn-sm" target="_blank" href="tel:' + customer.phone + '">' + customer.phone + '</a></td>';
                                    tableBody += '<td><a class="btn btn-sm" target="_blank" href="email:' + customer.email + '">' + customer.email + '</a></td>';
                                    tableBody += '<td>' + customer.contactPerson + '</td>';
                                    tableBody += '<td>';
                                    tableBody += customer.address.address + '<br/>';
                                    tableBody += customer.address.city + '<br/>';
                                    tableBody += customer.address.province + '<br/>';
                                    tableBody += customer.address.PostalCode;
                                    tableBody += '</td>';
                                    tableBody += '<td>' + new Date(customer.dateCreated).toLocaleDateString() + '</td>';
                                    tableBody += `<td align="right">
                                    <a rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon edit" href="/Customer/Edit/` + customer.id + `">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                     </a>
                                    <button onclick="remove(` + customer.id + `, '` + customer.name + `')" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon remove">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </td>`
                                    tableBody += '</tr>';
                                }

                                $("#loading").hide();
                                $("#tbody").html(tableBody);
                                updatePagingData();
                            }
                        }
                        else {
                            $.alertWarning('Error loading Customers');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        $.alertWarning('Error loading Customers');
                    }
                });
            }
        });
    </script>
}
