@model Pezza.Common.DTO.CustomerDTO

<div class="form-group">
    <div class="row">
        <div class="col">
            <label class="label-control">Name</label>
            <input type="text" name="Customer.Name" id="CustomerName" class="form-control" />
        </div>
        <div class="col">
            <label class="label-control">Phone</label>
            <input type="tel" name="Customer.Phone" id="CustomerPhone" class="form-control" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col">
            <label class="label-control">Email</label>
            <input type="email" name="Customer.Email" id="CustomerEmail" class="form-control" />
        </div>
        <div class="col">
            <label class="label-control">Contact Person</label>
            <input type="text" name="Customer.ContactPerson" id="CustomerContactPerson"  class="form-control" />
        </div>
    </div>
    <br />

    <br />
    @{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = "Address"; }
    @await Html.PartialAsync("_Address", Model.Address)
    @{ Html.ViewData.TemplateInfo.HtmlFieldPrefix = ""; }
</div>