[*.cs]

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1210: Using directives should be ordered alphabetically by namespace
dotnet_diagnostic.SA1210.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1500: Braces for multi-line statements should not share line
dotnet_diagnostic.SA1500.severity = none

# SA1504: All accessors should be single-line or multi-line
dotnet_diagnostic.SA1504.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none
