.info{
    max-width: 360px;
    margin: 0 auto;
    padding: 10px 0 30px;

    .icon{
        color: $default;

        > i{
            font-size: $h1-font-size;
        }
    }
    .info-title{
        color: $white;
        margin: 0.875rem * 2 0 0.875rem;
    }
    p{
        color: $opacity-gray-8;
        line-height: 24px;
    }
}

hr {
  width: 10%;
  height: 1px;
  border-radius: 3px;
  margin-left: 0;

  &.line-primary {
    background-color: $primary;
  }
  &.line-primary-center {
    background-color: $primary;
    margin: 0 auto;
  }
  &.line-info {
    background-color: $info;
  }
  &.line-info-center {
    background-color: $info;
    margin: 0 auto;
  }
  &.line-success {
    background-color: $success;
  }
  &.line-success-center {
    background-color: $success;
    margin: 0 auto;
  }
  &.line-warning {
    background-color: $warning;
  }
  &.line-warning-center {
    background-color: $warning;
    margin: 0 auto;
  }
  &.line-danger {
    background-color: $danger;
  }
  &.line-danger-center {
    background-color: $danger;
    margin: 0 auto;
  }
  &.line-deafult {
    background-color: $default;
  }
  &.line-deafult-center {
    background-color: $default;
    margin: 0 auto;
  }
}

.info-horizontal{
    .icon{
        float: left;
        margin-top: 24px;
        margin-right: 10px;

        >i{
            font-size: $h1-font-size;
        }
    }
    .description{
        overflow: hidden;
    }

}

.icon {
  &.icon-primary {
    color: $primary;
    }
  &.icon-info {
    color: $info;
  }
  &.icon-success {
    color: $success;
  }
  &.icon-warning {
    color: $warning;
  }
  &.icon-danger {
    color: $danger;
  }

}
